/* Eric Meyer's Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, ol, ul, li, form, label, caption, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
// article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
//   display: block;
// }
ol, ul {
  list-style: none;
  padding:0;
  margin:0;
}
/* Global Typography */
*, :before, :after{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-size:10px;
  line-height:1.215;
  color:$base-color;
  font-family: $font-family;
}
/* Font Face */
@font-face {
    font-family: $font-family;
    src: url('assets/fonts/Roboto-Regular.woff2') format('woff2'),
        url('assets/fonts/Roboto-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Medium.woff2') format('woff2'),
      url('assets/fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Bold.woff2') format('woff2'),
      url('assets/fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Light.woff2') format('woff2'),
      url('assets/fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Regular.woff2') format('woff2'),
      url('assets/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* Global Headings */

/* General Text Formatting */
blockquote, cite, q, var, dfn {
  font-style: italic;
}
small {
  font-size: 85.71429%;
  line-height: 1.75;
}
img{
  max-width: 100%;
  height: auto;
 
}
/* Global Link style */
a {
  font-size:$base-font*1.6;
  outline: none;
  color:$base-color;
  text-decoration:none;
  @include transition(all 0.4s ease);
}
a:hover, a:focus {
  outline:none;
  color:#000;
}
p{
  font-size:$base-font*1.6;
}
/* Global Button Styles */
button {
  cursor:pointer;
  background:none;
  border:none;
  outline:none;
   &:focus  {
     outline:none;
   }
}
/* Clearfix class*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
   &:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
   }
}
#wrapper{
  overflow: hidden;
}
.container{
  max-width: 1230px;
  padding:0 15px;
  margin: 0 auto;
}

  h2{
    font-size:$base-font*2.4;
    margin-bottom: 10px;
  
} 
[class*=icon-],[class^=icon-]{
  background:url('assets/images/sprite-image.png') 0 0  no-repeat;
  display:inline-block;
  height:48px;
  width:48px;
  border:none;
  font-size:0;
}
p{
  font-size:$base-font*1.4;
}
input[type = "text"]::placeholder{
  font-size: $base-font * 1.4;
}